## .NET / C#
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

## IDE / Editors
.vs/
.vscode/
.idea/
*.swp
*.bak
*~

## Build outputs & Packages
dist/
*.macroDeckPlugin
*.nupkg
*.snupkg

## OS Generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
